# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Create a data dictionary that looks like the DataFrame below

In [ ]:
dic = {'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
        'hp': [45, 39, 44, 45],
        'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
        'pokedex': ['yes', 'no', 'yes', 'no'],
        'type':['grass', 'fire', 'water', 'bug']}

### Step 3. Assign it to a variable called pokemon

In [ ]:
pokemon = pd.DataFrame(dic)
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [ ]:
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [ ]:
pokemon['place'] = 'kanto'

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [ ]:
pokemon

         name   type  hp   evolution pokedex  place
0   Bulbasaur  grass  45     Ivysaur     yes  kanto
1  Charmander   fire  39  Charmeleon      no  kanto
2    Squirtle  water  44   Wartortle     yes  kanto
3    Caterpie    bug  45     Metapod      no  kanto

It works, I don't understand the "warning" message

### Step 6. Present the type of each column

In [ ]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.

Which is the pokemon with max experience points? I have it in the pokedex?

In [ ]:
pokemon[pokemon['hp'] == pokemon['hp'].max()]

        name   type  hp evolution pokedex  place
0  Bulbasaur  grass  45   Ivysaur     yes  kanto
3   Caterpie    bug  45   Metapod      no  kanto