# Investor - Flow of Funds - US

### Introduction:

Special thanks to: https://github.com/rgrp for sharing the dataset.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv).

In [2]:
url = "https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv"

### Step 3. Assign it to a variable called

In [3]:
data = pd.read_csv(url, index_col='Date')
data.index = pd.to_datetime(data.index)
data.head()

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931

### Step 4.  What is the frequency of the dataset?

It is weekly, but I wanna check it.

In [4]:
date2 = data.index - pd.offsets.DateOffset(days=7)

In [5]:
for i in range(1, len(data.index)):
  list_bool = []
  list_bool.append(date2[i] == data.index[i-1])
set(list_bool)

{True}

### Step 5. Set the column Date as the index.

In [6]:
# Already done, but I could use:
# data = data.set_index(data['Date'])

### Step 6. What is the type of the index?

In [ ]:
# I already checked this to be sure dataset frequency was weekly
# data.index.dtype

### Step 7. Set the index to a DatetimeIndex type

In [8]:
# data.index = pd.to_datetime(data.index)

### Step 8.  Change the frequency to monthly, sum the values and assign it to monthly.

In [22]:
monthly = data.resample('M').sum()
monthly.head()

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-31,-26156,-23126,-3031,526,9848,12613,-2765,-15782
2013-01-31,3661,-1627,5288,2730,12149,9414,2735,18540
2013-02-28,0,0,0,0,0,0,0,0
2013-03-31,0,0,0,0,0,0,0,0
2013-04-30,0,0,0,0,0,0,0,0

In [10]:
# Checking monthly first row is equal to the sum in original dataset
data.loc[(pd.DatetimeIndex(data.index).year == 2012) & (pd.DatetimeIndex(data.index).month == 12)].sum()

Total Equity      -26156
Domestic Equity   -23126
World Equity       -3031
Hybrid               526
Total Bond          9848
Taxable Bond       12613
Municipal Bond     -2765
Total             -15782
dtype: int64

### Step 9. You will notice that it filled the dataFrame with months that don't have any data with NaN. Let's drop these rows.

I don't know why I have 0's and no NA's, I'll remove them

In [27]:
monthly = monthly[monthly != 0].dropna()
monthly

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-31,-26156.0,-23126.0,-3031.0,526.0,9848.0,12613.0,-2765.0,-15782.0
2013-01-31,3661.0,-1627.0,5288.0,2730.0,12149.0,9414.0,2735.0,18540.0
2014-04-30,10842.0,1048.0,9794.0,4931.0,8493.0,7193.0,1300.0,24267.0
2014-05-31,-2203.0,-8720.0,6518.0,3172.0,13767.0,10192.0,3576.0,14736.0
2014-06-30,2319.0,-6546.0,8865.0,4588.0,9715.0,7551.0,2163.0,16621.0
2014-07-31,-7051.0,-11128.0,4078.0,2666.0,7506.0,7026.0,481.0,3122.0
2014-08-31,1943.0,-5508.0,7452.0,1885.0,1897.0,-1013.0,2910.0,5723.0
2014-09-30,-2767.0,-6596.0,3829.0,1599.0,3984.0,2479.0,1504.0,2816.0
2014-11-30,-2753.0,-7239.0,4485.0,729.0,14528.0,11566.0,2962.0,12502.0
2015-01-31,3471.0,-1164.0,4635.0,1729.0,7368.0,2762.0,4606.0,12569.0
2015-02-28,5508.0,3509.0,1999.0,1752.0,9099.0,7443.0,1656.0,16359.0
2015-03-31,5691.0,-8176.0,13867.0,2829.0,9138.0,7267.0,1870.0,17657.0
2015-04-30,379.0,-4628.0,5007.0,970.0,423.0,514.0,-91.0,1772.0

### Step 10. Good, now we have the monthly data. Now change the frequency to year.

In [29]:
yearly = monthly.resample('A').sum()
yearly

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-31,-26156.0,-23126.0,-3031.0,526.0,9848.0,12613.0,-2765.0,-15782.0
2013-12-31,3661.0,-1627.0,5288.0,2730.0,12149.0,9414.0,2735.0,18540.0
2014-12-31,330.0,-44689.0,45021.0,19570.0,59890.0,44994.0,14896.0,79787.0
2015-12-31,15049.0,-10459.0,25508.0,7280.0,26028.0,17986.0,8041.0,48357.0

### BONUS: Create your own question and answer it.

In which year was the flows of fund the highest? And when was it the lowest?

In [34]:
yearly[yearly['Total'] == yearly['Total'].max()].index

DatetimeIndex(['2014-12-31'], dtype='datetime64[ns]', name=u'Date', freq='A-DEC')

In [35]:
yearly[yearly['Total'] == yearly['Total'].min()].index

DatetimeIndex(['2012-12-31'], dtype='datetime64[ns]', name=u'Date', freq='A-DEC')

Maybe there are some external events that influenced the funds value